<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sugerme no site</title>
  </head>
  <body>
    <div id="all">
      <header>
        <h1>sugerme no site</h1>
      </header>
      <h2>Self-Introduction</h2>
      <ul>
        <li>Undergrad student at the University of Shizuoka in Japan🗻</li>
        <li>Majoring in computer science.</li>
        <li>Researching in MachineLarning Security, LowLayer Security(in particular, distributed system security) in <a href="https://sec.inf.shizuoka.ac.jp/">ohkilab</a>.</li>
        <li>21 years old.</li>
        <li>Nagoya lover💗</li>
        <li>Rustacean since 2018/3/31💖 (\/)(9 9)(\/)</li>
        <li>Ex-vimmer ✨</li>
        <li>Interested in MidlwareDevelopment, Security, LowLayer, MachineLearning </li>
        <li>Member of Wild Family, sawayaka-sec, <a href="https://sec.inf.shizuoka.ac.jp/">ohkilab</a>.</li>
        <li>Variety of interests(horror movie, japanese rock, snowboard, etc...</li>
      </ul>
      <h2>My History</h2>
      <ul>
        <li>2016 4  Enroll in University of Shizuoka</li>
        <li>2016 7  Work in <a href="https://www.fourier.jp/">FOURIER inc.</a></li>
        <li>2017 3  Win the microsoft award in <a href="http://www.ctv.co.jp/hackathon2017/">Hack-Chu</a> as a member of nagoyakanagoya.</li>
        <li>2017 7  Participate in <a href="https://www.security-camp.or.jp/">seccamp</a></li>
        <li>2017 11 Win first place in <a href="https://hept.inf.shizuoka.ac.jp/event/ideason-hackasson2017/">shizuoka university hackathon</a></li>
        <li>2018 2  Participate in the internship in <a href="https://www.iwi.co.jp/>">Intelligent Wae Inc.</a> as a security engeneer.</li>
        <li>2018 3  Win third place in <a href="https://trunk.fm/hackathons/ss2018">TRUNK HACKATHON</a> as a member of wildfamily.</li>
        <li>2018 5  Win second place in <a href="http://www.riis.or.jp/symposium22/crisismanagement/final/">情報危機管理コンテスト</a> as a member of sawayaka-sec.</li>
        <li>2018 8  Participate in <a href="https://www.security-camp.or.jp/">seccamp</a> as a tutor.</li>
        <li>2018 8  Participate in the internship in <a href="https://internship.cookpad.com/2018/summer/">Cookpad</a></li>
        <li>2019 3  Participate in the internship in <a href="https://www.fixstars.com">Fixstars</a></li>
        <li>2019 5  Win first place in <a href="http://www.riis.or.jp/symposium23/crisismanagement/final/">情報危機管理コンテスト</a> as a member of sawayaka-sec.</li>
      </ul>
      <h2>Link</h2>
      <ul>
        <li><a href="https://github.com/hnkz">Github</a></li>
        <li><a href="https://twitter.com/AkichikaShiomi">Twitter</a></li>
        <li><a href="https://hnkz.github.io/blog">Blog</a></li>
      </ul>
    </div>
    <footer>
      <p id="copyright_footer">Copyright 2019 Kazuki Hanai. All Rights Reserved.</p>
      <address id="mail_footer">hanakazu8989@gmail.com</address>
    </footer>
  </body>
</html>

